<launch>

  <group>
    <node pkg="beginner_tutorials" name="torqueController" type="torqueController"/>
  </group>

  <group>
    <node pkg="beginner_tutorials" name="arduinoPublisher" type="arduinoPublisher"/>
  </group>

  <group>
    <node pkg="beginner_tutorials" name="encoderPublisher" type="encoderPublisher"/>
  </group>


</launch>
